.pdiv{
	width: 100%;
	height: 600px;
	position: relative;
	background-color: rgb(228,228,228);
}
.pdiv .ppdiv{
	width: 30%;
	height: 200px;
	position: absolute;
	top: 150px;
	left: 10%;


}
.pdiv .ppdiv img{
	width: 250px;
	height: 80px;
	position: absolute;
	left: 12%;

}
.pdiv .ppdiv p{
	width: 	500px;
	font-size: 30px;
	position: absolute;
	top: 70px;
	left: 12%;
}
.pdiv .pddiv{
	width: 25%;
	height: 300px;
	position: absolute;
	right: 8%;
	top: 150px;
	background-color: white;
	border-radius: 4px;
}
.pdiv .pddiv form input{
	width: 300px;
	height: 40px;
	margin-left: 17px;
	border-radius: 2px;
	border-width: 0.2px;
	border-color: rgb(228,228,228);
	text-transform: capitalize;
	word-spacing: 1px;
	font-size: 16px;
}
.pdiv .pddiv p a{
	color: blue;
	margin-left: 30%;
}
.pdiv .pddiv button {
	position: absolute;
	left: 30%;
	bottom:  10px;
	background-color: rgb(0,236,60);
	height: 40px;
	border-style: none;
	width: 140px;
	text-transform: capitalize;
	font-size: 14px;
	color: white;
	font-weight: bold;

}
.enreg{
	background-color: rgb(0,128,192);
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-transform: capitalize;
}
.pdiv .pp{
	position: absolute;
	right: 10%;
	bottom: 50px;
	text-transform: capitalize;
	font-size: 12px;
	font-weight: bold;
	width: 25%;
	word-spacing: 3px;
	text-align: center;
}
.pp a{
	font-size:18px; 
}
.ddiv ul {
	column-count: 9;
	list-style-type: none;
	width: 90%;
	column-width: 30px;
}
.ddiv ul li a{
	text-decoration: none;
	color: rgb(144,144,144);

}
.ddiv ul li button{
	background-color: rgb(0,236,60);
	border-style: none;
}
